@font-face {
    font-family: "DIN 2014";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/DIN2014-Light.ttf");
}
@font-face {
    font-family: "DIN 2014";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/DIN2014-Regular.ttf");
}
@font-face {
    font-family: "DIN 2014";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/DIN2014-Demibold.ttf");
}
@font-face {
    font-family: "DIN 2014";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/DIN2014-Bold.ttf");
}
@font-face {
    font-family: "DIN 2014";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/DIN2014-ExtraBold.ttf");
}
/*
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Poppins-ExtraBold.ttf");
}*/
