.catalog {
	margin-top: 40px;
	
	.largeTitle {
		margin-bottom: 30px;
		color: #f8f8f8;
	}
	
	> div {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-content: space-between;
		gap: 30px;
		.fullWidthButton {
			grid-column-start: 1;
			grid-column-end: 5;
		}
	}
	
	
	&__block {
		display: flex;
		flex-direction: column;
		.imgBlock {
			padding-top: 75%;
		}
		
		&Bot {
			background-color: #F8F8F8;
			padding: 0 30px 30px 30px;
			&BrandLine {
				margin-bottom: 20px;
				display: flex;
				justify-content: space-between;
				span {
					margin-top: 10px;
					color: #768B9C;
					font-size: 12px;
					line-height: 150%;
				}
				img {
					margin-left: 10px;
					max-width: 93px;
				}
			}
			&Title {
				display: block;
				font-weight: bold;
				font-size: 16px;
				line-height: 150%;
				color: #27343F;
				margin-bottom: 15px;
			}
			&LearnMore {
				font-weight: bold;
				font-size: 12px;
				line-height: 150%;
				color: #768B9C;
			}
		}
	}
}

@media (max-width: 1520px) {
	.catalog {
		>div {
			grid-template-columns: repeat(2, 1fr);
			.fullWidthButton {
				grid-column-end: 3;
			}
		}

	}
}

@media (max-width: 1023px) {
	.catalog {
		>div {
			//grid-template-columns: repeat(2, 1fr);
			.fullWidthButton {
				//grid-column-end: 3;
			}
		}

	}
}

@media (max-width: 767px) {
	.catalog {
		//display: none;
	}
}