.doubleFoxyF {
	display: grid;
	grid-template-columns: 1fr 250px;
	margin-top: 50px;
	gap: 25px;
	> a {
		grid-column-end: 3;
		grid-column-start: 1;
	}
	.backgroundBlockMiddle {
		grid-template-columns: repeat(3,1fr);
		grid-template-rows: repeat(2, minmax(150px, 250px));
	}
	
	&.withFMargin {
		.foxyFBlock {
			margin-top: 51px;
		}
	}
}

@media (max-width: 1279px) {
	.doubleFoxyF {
		grid-template-columns: 1fr 30%;
		&__foxyBlock {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.foxyF {
			display: flex;
		}
	}
}

@media (max-width: 1023px) {
	.doubleFoxyF {
		grid-template-columns: 1fr;
		> a {
			grid-column-end: 2;
			grid-column-start: 1;
		}
		&__foxyBlock {
			flex-direction: row;
		}
		&.withFMargin {
			.foxyFBlock {
				margin-top: 0;
			}
		}
		.backgroundBlockMiddle {
			grid-template-columns: repeat(2,1fr);
			grid-template-rows: repeat(3, minmax(150px, 250px));
		}
		.different {
			.backgroundBlockMiddle {
				grid-template-columns: repeat(3,1fr);
				grid-template-rows: repeat(3, minmax(150px, 173px));
			}
		}
	}
}

@media (max-width: 767px) {
	.doubleFoxyF {
		.backgroundBlockMiddle {
			grid-template-columns: 1fr;
			grid-template-rows: unset;
			.backgroundBlock__block {
				min-height: 250px;
			}
		}
		&__foxyBlock {
			flex-direction: column;
		}
	}
}

