.forked {
	border-top: 1px solid rgba(118, 139, 156, 0.5);
	padding-top: 25px;
	display: flex;
	&__left {
		margin-right: 25px;
	}
	.horizontalBar__blc {
		&Left {
			flex: 0 0 35%;
			padding-top: 26.3%;
		}
	}
	&.borderless {
		padding-top: 0;
		border-top: none;
	}
}

@media (max-width: 1023px) {
	.forked {
		border-bottom: 1px solid rgba(118, 139, 156, 0.5);
		padding-bottom: 25px;

		&__left {
			display: none;
		}

	}
}