.modalSubscription {
	opacity: 0;
	display: none;
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: auto;
	background-color: rgba(39, 52, 63, 0.9);
	.container {
		position: relative;
		padding: 2vh 4vw;
		margin: 10vh auto;
		width: 65%;
	}
	&__close {
		cursor: pointer;
		position: absolute;
		top: -25px;
		right: 5px;
		max-width: 17px;
		max-height: 17px;
		svg {
			max-height: 17px;
			width: 100%;
			height: 100%;
		}
	}
	.lkCompany {
		max-width: 465px;
		background-color: #F2F2F2;
		position: relative;
		form {
			max-height: 80vh;
			overflow-y: auto;
		}
		&.small {
			background-image: linear-gradient(#EDEEEF, #EDEEEF), url('svg/assets/clock.svg');
			background-blend-mode: color-burn;
			background-size: 50%;
			background-position-x: -30%;
			background-position-y: center;
			background-repeat: no-repeat;
			flex-direction: column;
			align-items: center;
			display: flex;
			gap: 30px;
			padding: 60px 0;
			p {
				text-align: center;
			}
		}
	}
}

@media (max-height: 1023px) {
	.modalSubscription {
		.lkCompany {
			form {
				max-height: 65vh;
			}
		}
	}
}



@media (max-width: 576px) {
	.modalSubscription {
		.container {
			display: flex;
			// padding: 25px 25px;
			width: 90%;
		}
		.lkCompany {
			display: block;

			.lkCompany__filterBottomItemLine {
				width: 100%;
				> div {
					flex-direction: column;
				}
				button {
					width: 100%;
				}
			}
		}
	}
}