.newMag {
	background-image: url("img/magBack.png");
	background-repeat: no-repeat;
	background-size: cover;
	grid-template-rows: min-content min-content min-content;
	padding: 5% 11%;
	align-items: flex-start;
	display: grid;
	.largeTitle {
		color: #f8f8f8;
		margin-bottom: 40px;
	}
	img {
		border: 8px solid white;
		width: 61%;
		margin-bottom: 80px;
	}
	div {
		display: flex;
		justify-content: space-between;
		margin-right: 10%;
		align-items: center;
	}
	a, span {
		cursor: pointer;
		display: inline-flex;
		color: #f8f8f8;
	}
}

.subscribe {
	&:before {
		content: url('svg/assets/subscribe.svg');
		margin-top: 3px;
		margin-right: 5px;
	}
	&.dark {
		display: inline-flex;
		align-items: center;
		&:before {
			content: url('svg/assets/subscribeDark.svg');
			height: 22px;
		}
	}
}

.readOnline {
	padding-top: 12px;
	display: inline-flex;
	&:before {
		height: 22px;
		content: url('svg/assets/readOnline.svg');
		margin-right: 5px;
	}
}
.download {
	display: inline-flex;
	align-items: center;
	border: 1px solid #768B9C;
	padding: 12px 25px;
	font-size: 12px;
	line-height: 150%;
	transition: all .2s;
	svg {
		height: 22px;
		width: 22px;
		margin-right: 5px;
	}

	&:hover {
		border: 1px solid #f8f8f8;
		color: #f8f8f8;
		background-color: #27343F;
	}
}


@media (max-width: 1520px) {
	.newMag {
		div {
			flex-wrap: wrap;
			margin-right: 0;
		}
		a, span {
			margin-top: 20px;
		}
		img {
			width: unset;
		}
	}
}

@media (max-width: 1023px) {
	.newMag {
		margin-top: 40px;
		grid-template-columns: 1fr 34.5%;
		grid-template-rows: unset;
		gap: 20px;
		img {
			grid-row-start: 1;
			grid-row-end: 3;
			grid-column-start: 2;
			grid-column-end: 3;
			margin-bottom: 0;
		}
		div {
			align-self: flex-end;
		}
	}
	.subscribe, .readOnline, .download {
		font-size: 12px;
	}
	
}

@media (max-width: 767px) {
	.newMag {
		grid-template-columns: 1fr;
		
		img {
			justify-self: center;
			grid-row-start: 3;
			grid-row-end: 4;
			grid-column-start: unset;
			grid-column-end: unset;

		}

	}
}