.secondaryText {
	margin-top: 40px;
	display: flex;
	.largeTitle {
		display: block;
		margin-bottom: 10px;
	}
	&__foxy {
		margin-right: 25px;
	}

	.textModule:nth-child(2) {
		margin-right: 35px;
		padding-right: 35px;
		border-right: 1px solid rgba(118, 139, 156, 0.5);
	}
	&.reverse {
		.textModule:nth-child(2) {
			margin-right: 0;
			padding-right: 0;
			border-right: none;
		}
		.secondaryText__foxy {
			margin-left: 25px;
			margin-right: 0;
		}
	}
}



@media (max-width: 1279px) {
	.secondaryText {
		display: grid;
		grid-template-columns: 30% minmax(30%,1fr) minmax(30%, 1fr);
		column-gap: 25px;
		
		&__foxy {
			margin-right: 0;
		}
		
		.textModule:nth-child(2) {
			margin-right: 0;
			padding-right: 0;
			border-right: 1px solid rgba(118, 139, 156, 0.5);
		}
		&.reverse {
			grid-template-columns:  minmax(60%,1fr) 30%;
			.secondaryText__foxy {
				margin-left: 0;
			}
		}
	}
}
@media (max-width: 1023px) {
	.secondaryText {
		grid-template-columns: 30% 1fr;
		&__foxy {
			align-self: flex-start;
			grid-row-start: 1;
			grid-row-end: 3;
			margin: 0;
		}
		.textModule:nth-child(2) {
			border-right: none;
			margin-bottom: 35px;
			padding-bottom: 35px;
			border-bottom: 1px solid rgba(118, 139, 156, 0.5);
		}
		&.reverse {
			grid-template-columns: 30% 1fr ;
		}
		&.foxySecond {
			grid-template-columns: 1fr 30%;
			.secondaryText__foxy {
				grid-row-start: 1;
				grid-row-end: 2;
				grid-column-start: 2;
				grid-column-end: 3;
			}
		}
	}
}
@media (max-width: 767px) {
	.secondaryText {
		grid-template-columns: 1fr !important;
		row-gap: 35px;
		.largeTitle {
			margin-bottom: 30px;
		}
		&__foxy {
			grid-row-start: 2;
			grid-row-end: 4;
			> div {
				margin-bottom: 20px;
			}
		}

		.textModule:nth-child(2) {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
		.textModule:nth-child(3) {
			margin: 0 -20px;
			padding: 60px 20px;
			background-color: #EFEFEF;
		}
		&.reverse {
			.secondaryText__foxy {
				grid-row-start: 3;
				grid-row-end: 5;
			}
		}
		&.foxySecond {
			.secondaryText__foxy {
				grid-row-start: unset;
				grid-row-end: unset;
				grid-column-start: unset;
				grid-column-end: unset;
			}
		}
	}
}
@media (max-width: 360px) {
	.secondaryText {
		.textModule:nth-child(3) {
			margin: 0 -5px;
			padding-right: 5px;
			padding-left: 5px;
		}
	}
}