.secondarySlider {
	margin-top: 40px;
	display: flex;
	&__foxy {
		margin-right: 25px;
	}
	.verticalBlock__botBlockTitle {
		font-size: 16px;
	}
	
}

@media (max-width: 1279px) {
	.secondarySlider {
		&__foxy{
			width: auto;
			flex: 0 0 30%;
			max-width: 30%;
		}
	}
}

@media (max-width: 1023px) {
	.secondarySlider {
		.slider__topControl {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.secondarySlider {
		flex-wrap: wrap;
		
		&__foxy {
			flex: 0 0 100%;
			max-width: 100%;
			order: 0;
			margin-bottom: 30px;
			margin-right: 0;
		}
	}
}