.sliderBot {
	margin-top: 40px;
	.verticalBlock__botBlockTitle {
		font-size: 16px;
	}
	.views, .category  {
		display: none;
	}

}

@media (max-width: 767px) {
	.sliderBot {
		.views, .category  {
			display: block;
		}
	}
}