.textModule {
	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 15px 20px;
		
		&Block {
			&Cat {
				color: #768B9C;
				font-size: 12px;
				line-height: 150%;
			}
			&Title {
				display: block;
				font-weight: bold;
				font-size: 16px;
				line-height: 150%;
				margin: 7px 0;
			}
			.date {
				color: #3B5266;
			}
		}
	}
}
@media (max-width: 767px) {
	.textModule {
		&__container {
			grid-template-columns: 1fr ;
		}
	}
}