.tickets {
	> div {
		display: grid;
		grid-template-columns: repeat(4, minmax(150px, 1fr));
		gap: 30px;
		.fullWidthButton {
			grid-column-start: 1;
			grid-column-end: 5;
		}
	}
	.largeTitle {
		margin-bottom: 30px;
	}
	&__block {
		display: flex;
		flex-direction: column;
		
		.imgBlock {
			padding-top: 75%;
		}
		
		&Bot {
			background-color: #F8F8F8;
			padding: 0 30px 30px 30px;
			&BrandLine {
				margin-bottom: 20px;
				display: flex;

				span {
					margin-top: 10px;
					color: #768B9C;
					font-size: 12px;
					line-height: 150%;
				}

			}
			&Title {
				display: block;
				font-weight: bold;
				font-size: 16px;
				line-height: 150%;
				margin-bottom: 15px;
			}
			&Text {
				display: block;
				font-weight: normal;
				font-size: 12px;
				line-height: 150%;
				margin-bottom: 25px;
			}
			&Price {
				display: block;
				font-size: 25px;
				line-height: 32px;
				&+span {
					display: block;
					margin-top: 30px;
				}
			}
		}
	}
	
	&.news {
		margin-top: 25px;
		> div {
			grid-template-columns: repeat(2, 1fr);
		}
		.tickets__block {
			&Bot {
				padding-top: 40px;
				&Title {
					font-size: 18px;
				}
				&Text {
					margin-top: 15px;
					margin-bottom: 0;
					font-size: 16px;
				}
			}
		}
	}
	&.events {
		margin-top: 0;
		> div {
			grid-template-columns: repeat(3, 1fr);
			.fullWidthButton {
				grid-column-end: 4;
			}
		}
		.tickets__block {
			position: relative;
			.category.dark {
				position: absolute;
				top: 0;
				right: 0;
			}
			&Bot {
				padding-top: 30px;
			}
		}
	}

}

@media (max-width: 1279px) {
	.tickets {
		>div {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
			.fullWidthButton {
				grid-column-end: 3;
			}
		}
		&.events {
			> div {
				grid-template-columns: repeat(2, 1fr);
			}
		}

	}
}

@media (max-width: 1023px) {
	.tickets {
		&.news {
			.tickets__block {
				background-color: #F8F8F8;
				padding: 30px 15px;
				&Bot {
					padding: 30px 15px 0 15px;
				}
			}
		}
		&.single {
			.tickets__blockBotText, .buttonBlack {
				display: none;
			}
			.tickets__blockBotPrice {
				margin: 0;
			}
			
		}
		&.events {
			> div {
				grid-template-columns: repeat(2, 1fr);
				.fullWidthButton {
					grid-column-end: 3;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.tickets {
		> div {
			gap: 10px;
			
		}
		&__block {
			&Bot {
				padding: 0 15px 15px 15px;
			}
			
			.buttonBlack, &BotText {
				display: none;
			}
			&BotPrice {
				margin: 0;
				font-size: 16px;
			}
			&BotTitle {
				font-weight: normal;
				font-size: 12px;
			}
		}
		&.news {
			> div {
				grid-template-columns: 1fr;
			}
		}
		&.events {
			> div {
				grid-template-columns: 1fr;
				.fullWidthButton {
					grid-column-end: 2;
				}
			}
		}
		&.block {
			.tickets__blockBotTitle {
				font-weight: normal;
			}
		}
	}
}