.dateAndViews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span , a {
    //color: $grey3;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  .eventsDate {
    display: flex;
    align-items: center;
    margin-top: 8px;
    background-color: #B7C1CA;
    padding: 7px 12px;
    border-radius: 10px 0;
    font-size: 12px;
    line-height: 150%;

    &:before {
      content: '';
      width: 23px;
      height: 18px;
      background: url("svg/assets/clock2.svg");
      background-repeat: no-repeat !important;
      position: relative;
      left: 0;
      top: 0px;
      display: inline-flex;
      margin-right: 10px;
    }
  }

  .city {
    display: block;
    font-size: 12px;
    line-height: 150%;
  
    &:before {
      content: '';
      width: 18px;
      height: 21px;
      background: url("svg/assets/city.svg");
      background-repeat: no-repeat !important;
      position: relative;
      top: 5px;
      display: inline-flex;
      margin-right: 10px;
    }
    &.light {
      &:before {
        background: url("svg/assets/cityLight.svg");
      }
    }
  }

  .views {
    display: inline-flex;
    div {
      &:before {
        content: '';
        width: 12px;
        height: 10px;
        background: url("svg/assets/views.svg");
        background-repeat: no-repeat !important;
        position: relative;
        left: 0;
        top: 1px;
        display: inline-flex;
        margin-right: 5px;
      }
      line-height: 14px;
    }
    &.dark {
      div {
        &:before {
          background: url("svg/assets/viewsDark.svg");
        }
      }
      color: $dark;
    }

  }

  .read {
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    &:after {
      content: url("svg/assets/turnUpDark.svg");
      width: 12px;
      height: 12px;
      transform: rotate(90deg);
      position: relative;
      left: 0;
      top:4px;
      display: inline-flex;
      margin-left: 4px;
    }
  }
  
  .category {
    cursor: pointer;
    color: #f8f8f8;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 5px 10px;
    border: 1px solid #f8f8f8;
    border-radius: 10px 0;
    a, span {
      margin: 0;
      //color: $brown3;
    }
    &.transparent {
      border: 1px solid #768B9C;
      color: #768B9C;
    }
    &.dark {
      color: #f8f8f8;
      background-color: $color1;
      border-color: $color1;
    }
    &.orange {
      background-color: $accent;
      border: none;
    }
  }
  
  .date {
    font-size: 12px;
    line-height: 150%;
    color: $dark;
    &.dark {
      color: $dark;
    }
  }
  
  .time {
    font-size: 12px;
    line-height: 150%;
    color: $dark;
    &:before {
      content: '';
      width: 12px;
      height: 10px;
      background: url("svg/assets/clock.svg");
      background-repeat: no-repeat !important;
      position: relative;
      left: 0;
      top: 1px;
      display: inline-flex;
      margin-right: 5px;
    }
  }
}

.dateAndViews.start {
  justify-content: flex-start;

}

@media (max-width: 1023px) {
  .dateAndViews {
    gap: 10px;
    span, a {
      font-size: 12px !important;
      margin: 0;
    }
  }
}

@media (max-width: 576px) {
  .dateAndViews {
    span , a {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}