.foxyFBlock {
  min-width: 0;
   .foxyF {
     &:not(:last-child) {
      margin-bottom: 20px;
    }
   }
}

.foxyFull {
  margin-top: 40px;
  max-width: 1280px;
}

.stickyFox {
  position: sticky;
  top: 25px;
  z-index: 2;
}

.foxyA a {
  background-position-y: top !important;
}

.foxyLong {
  max-width: 100%;
  div {
    max-width: 100%;
  }
}

@media (max-width: 1279px) {
  .foxyLong {
    margin: auto;
  }
  .foxyA {
    justify-content: center;
  }
  .foxy {
    display: flex;
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .foxyFBlock {
    display: flex;
    justify-content: space-between;

    .foxyF {
      margin: 0;
      display: flex;
      flex: 0 0 30%;
      max-width: 30%;
    }
  }


}

@media (max-width: 767px) {
  .foxyFBlock {
    flex-direction: column;
  
    .foxyF {
      display: block;
      flex: unset;
      max-width: 100%;
      margin-bottom: 20px !important;
      a {
        margin: auto;
      }
    }
  }
  .foxyFull {
    margin: 0;
  }
  .foxy {
    justify-content: center;
  }
}