.foxy {
  width: 300px;
  height: auto;
  display: block;
  a {
    display: block;
    width: 300px;
    min-height: 300px;
    height: auto;
  }
}

.foxyF {
  width: 250px;
  height: auto;
  display: block;
  a {
    display: block;
    width: 250px;
    min-height: 150px;
    height: auto;
  }
}

.foxyA {
  justify-self: flex-end;
  width: 300px;
  height: auto;
  display: block;
  a {
    display: block;
    width: 300px;
    min-height: 500px;
    height: auto;
  }
}

//.foxyLong {
//  max-width: 728px;
//  width: 100%;
//  height: auto;
//  display: flex;
//  a {
//    width: 100%;
//    height: 90px;
//    display: block;
//  }
//}

.foxyFull {
  margin-top: 40px;
  max-width: 1280px;
  width: 100%;
  height: auto;
  display: flex;
  a {
    width: 100%;
    height: 150px;
    display: block;
  }
}

.stickyFox {
  position: sticky;
  top: 25px;
}


@media (max-width: 1279px) {
  .foxyLong {
    margin: auto;
  }
  .foxyA {
    justify-content: center;
  }
  .foxy {
    display: flex;
    width: 100%;
  }
}

@media (max-width: 1023px) {
  //.foxyA {
  //  display: flex;
  //  width: 100%;
  //  a {
  //    width: 160px;
  //    height: auto;
  //    min-height: 270px;
  //  }
  //}
  .foxyF {
    width: 100%;
    display: flex;
    justify-content: center;
    a {
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      max-width: 250px;
      height: auto;
      min-height: 150px;
    }
  }
  //.foxy {
  //  display: flex;
  //  justify-content: flex-end;
  //  width: 100%;
  //  a {
  //    background-size: contain;
  //    background-repeat: no-repeat;
  //    min-height: unset;
  //    width: 160px;
  //    height: 160px;
  //  }
  //}
  .foxy, .foxyF {
    margin: auto;
  }
  .foxyLong {
    min-width: 0;
  }
}

@media (max-width: 767px) {
  .foxyA {
    a {
      width: 300px;
      min-height: 500px;
    }
  }
  .foxy {
    justify-content: center;
    a {
      width: 300px;
      height: 300px;
    }
  }
  .foxyFull {
    a {
      height: 65px;
    }
  }
}