.rightAside {
	margin-top: 35px;
	max-width: 300px;
	height: 100vh;
	//position: fixed;
	position: sticky;
	//right: 0;
	top: 20px;
	.socialMedia {
		padding-top: 10px;
	}
	
	&__darkBlock {
		padding: 25px 30px;
		background-color: #EFEFEF;
		&.soft {
			background-color: #F8F8F8;
			display: block;
			>span {
				margin-top: 15px;
			}
		}
	}
	
	&__border {
		padding: 25px 30px;
		border: 1px solid #768B9C;
		box-sizing: border-box;
	}
	
	> div {
		padding: 25px 30px;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 1919px) {
	.rightAside {
		.socialMedia {
			display: none;
		}
	}
}

@media (max-width: 1440px) {
	.rightAside {
		display: none;
	}
}