.search {
	display: flex;
	align-items: flex-start;
	&:before {
		content: url("svg/assets/search.svg");
		//margin-right: 5px;
		margin-top: 3px;
	}
	input {
		font-size: 12px;
		line-height: 150%;
		border: none;
	}
	&.open {
		input {
			width: 100px !important;
			z-index: 20;
			position: relative;
		}
	}
	&.ugly {
		label {
			display: flex;
		}
		input {
			flex: 1 0 70%;
			font-size: 14px;
			border: 1px solid #ccc;
			padding: 10px 5px 8px;
		}
		button {
			font-size: 14px;
			border: none;
			text-transform: uppercase;
			padding: 10px 20px 8px;
		}
		&:before {
			content: none;
		}
	}
}

