.smallTitle {
	font-size: 16px;
	line-height: 150%;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 0;
	color: #27343F;
}
.largeTitle {
	font-weight: bold;
	font-size: 25px;
	line-height: 33px;
	text-transform: uppercase;
	color: #27343F;
}