.wrapper {
	display: grid;
	align-items: flex-start;
	grid-template:
		'asideMenu content' /minmax(150px,270px) minmax(1085px, 1fr)
	;

	.asideMenu {
		grid-area: asideMenu;
	}

	&__content {
		grid-area: content;
		display: grid;
		grid-template-columns: minmax(885px, 1fr) minmax(200px, 300px);
		> * {
			min-width: 0;
		}
		&.dark {
			margin: 70px 0 0 0;
			padding: 70px 0 100px 0;
			background-color: $darker;
		}
	}
	
	&.leftDestroy {
		grid-template:
		'content' /1fr;
		
		.asideMenu {
			display: none !important;
			right: 100%;
		}
		.wrapper__block {
			//grid-template-columns: 1fr;
			margin-left: 0 !important;
			.container {
				transform: translate(0px) !important;
			}
		}
	}
	
	
}

@media (max-width: 1279px) {
	.wrapper {
		grid-template-columns: minmax(150px,270px) minmax(830px,1fr);
		&__content {
			grid-template-columns: 1fr;
		}
	}
}
@media (max-width: 1023px) {
	.wrapper {
		margin-top: 35px;
		grid-template:
		'content'
	/1fr
	;
	}
}